<section class="mt-5">
  <div class="masthead-followup row m-0 border border-white">
  <div class="col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="#0C354F" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="text-primary mb-2" viewBox="0 0 32 32" focusable="false"><title>Ubicación</title><circle cx="16" cy="11" r="4" />
    <path d="M24 15 C21 22 16 30 16 30 16 30 11 22 8 15 5 8 10 2 16 2 22 2 27 8 24 15 Z" /></svg>
    <h3>Visítanos</h3>
    <p>El museo está ubicado en el centro urbano de Guayaquil, calle<strong> Sucre entre Chile y Pedro Carbo</strong>.</p>
    <h5>Auditorio del Museo Municipal</h5>
    <p>El Museo Municipal cuenta con un Auditorio donde se realizan conferencias, presentaciones y eventos culturales, tiene capacidad para 200 personas.</p>

<figure>
<img class="img-fluid mt-3 mx-auto" style="border-radius:5px;margin-bottom:1em;" srcset="//res.cloudinary.com/magnvs/image/upload/v1520467006/experiencia_2_eastz9.jpg"
                                    src="//res.cloudinary.com/magnvs/image/upload/v1520467006/experiencia_2_eastz9.jpg" alt="Experiencia" width="500" height="400">
<figcaption class="figure-caption">Integrantes del grupo musical japonés Wa-League el día de la conmemoración del centenario de la llegada a Guayaquil del Dr. Hideyo Noguchi, enero del 2018.</figcaption>
</figure>

  </div>

  <div class="col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="#0C354F" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="text-primary mb-2" viewBox="0 0 32 32" focusable="false"><title>Información</title><path d="M16 14 L16 23 M16 8 L16 10" />
    <circle cx="16" cy="16" r="14" /></svg>
    <h3>Visitas guiadas</h3>
    <p>Las visitas guiadas a las salas del museo son un servicio gratuito para la comunidad en general, grupos de turistas y estudiantes. <strong>Se recomienda que las instituciones educativas reserven su visita al:</strong></p>
    <figure class="highlight"><pre><code>Tel. (04) 259 4800 ext. 7402</code></pre></figure>

<h5>Museo Itinerante</h5>
<p>Servicio que puede ser solicitado por cualquier sector o institución de la ciudad, en especial aquellas dedicadas a la educación y cultura. Tiene como objetivo fortalecer el conocimiento y el rescate de la historia de Guayaquil.</p>

<h5>Nuestro Podcast</h5>
<p>La Dirección de Cultura del Muy Ilustre Municipio de Guayaquil presenta un encuentro con el ARTE, la HISTORIA y la CULTURA de nuestra ciudad; un encuentro con sus PROTAGONISTAS:<strong>&laquo;Desde el Museo Municipal&raquo;</strong></p>

    <a class="btn btn-outline-primary" href="//desde-el-museo-municipal.simplecast.com">Escúchanos</a>
  </div>

  <div class="col-md-4 p-3 p-md-5 bg-light border border-white">
    <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="#0C354F" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="text-primary mb-2" viewBox="0 0 32 32" focusable="false"><title>Atracciones</title> <path d="M2 8 L 9 8 12 4 20 4 23 8 30 8 30 26 2 26 Z" />
    <circle cx="16" cy="16" r="5" /></svg>
    <h3>Horario de atención</h3>
    <p>La entrada es libre y atendemos de <strong>martes a sábado</strong> de <strong>09h00 a 17h30</strong>.
    </p>
    <figure><img class="img-fluid mt-3 mx-auto" srcset="//res.cloudinary.com/magnvs/image/upload/v1577338467/xvgvkr4tvo540abh5j2i.png"
                                        src="//res.cloudinary.com/magnvs/image/upload/v1577338467/xvgvkr4tvo540abh5j2i.png" alt="Mapa museo" width="500" height="450">
    <figcaption class="figure-caption">La “Mujer de Colonche”, monolito antropomorfo guancavilca expuesto en la Sala Prehispánica.</figcaption>
    </figure>

  </div>
</div>
</section>
