<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="/index.html">Inicio</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exposición Permanente</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/prehispanica.html">Sala Prehispánica</a>
    <a class="dropdown-item" href="/colonial.html">Sala Colonial</a>
    <a class="dropdown-item" href="/independencia.html">Sala Independencia</a>
    <a class="dropdown-item" href="/republica.html">Salas Republicana y S.XX</a>
    <a class="dropdown-item" href="/complementarias.html">Otras Salas</a>
  </div>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/eventos.html">Eventos</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/autores.html">Autores</a>
</li>
