<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="/index.html">Home</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Exposición</a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/prehispanica.html">Sala Prehispánica</a>
    <a class="dropdown-item" href="/colonial.html">Sala Colonial</a>
    <a class="dropdown-item" href="#">Sala Independencia</a>
  </div>
</li>
<li class="nav-item">
<a class="nav-link" href="/authors-list.html">Authors</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/categories.html">CAT</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="/buy-me-a-coffee">Buy me a coffee <i class="fa fa-star text-danger"></i></a>
</li>
