<h5 class="mb-3">Bicentenario de la Independencia de Guayaquil</h5>

<p>A propósito del Bicentenario de la Independencia de Guayaquil, el Museo Itinerante incluye facsimilares de piezas museográficas de los próceres, tales como: Acta de Independencia, cartas de José Joaquín de Olmedo, el pasaporte de Olmedo, grabado de Olmedo, monumento de la Columna de los Próceres, el libro de Camilo Destruge ”Revolución de Octubre y Campaña Libertadora de 1820”, entre otros.</p>

​​<p>Las instituciones que acogan el Museo Itinerante deben de contar con un espacio mínimo de 40 metros cuadrados. Se lo puede solicitar con un oficio físico al Museo Municipal (Sucre entre Chile y Pedro Carbo). También se pueden hacer consultas telefónicas al <b>259 4800 ext. 7402 (Sra. Eveda Suárez)</b>.​​​</p>
