
.g-wrap {
  display: grid;
  place-content: center;
  max-width: 900px;
  min-height: 300px;
}
.g-wrap-front {
  display: grid;
  place-content: center;
  max-width: 100%;
  margin: 0 0 50px 0;
}

.grid-post {
  position: relative;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 25vh) 1fr;
}
.grid-post-front {
  position: relative;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  height: 25vh;
}
.grid-post:hover img.selection:not(:hover) {
  opacity: 0.2;
}

img.selection {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s ease all;
}

img.non-selection {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.select-info {
  grid-column: span 2;
  font-size: 0.9rem;
  padding-left:1rem;
  font-style:italic;
  align-self:end;
}

div.select-info p {
  width: 80%;
}

img.selection:hover {
  z-index: 1;
  -webkit-transform: scale(1.2) translateZ(20px);
          transform: scale(1.2) translateZ(20px);
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.2);
}

img.is-tall {
  grid-row: span 2;
}
img.is-lg {
  grid-column: span 2;
  grid-row: span 2;

}
.captions {
  grid-column: 1 / 4;
  padding: 1em 0;
  color:#333;
  font-size: .9rem;
  width: 90%;
}

.captions p {
  color:#333;
  font-size: .9rem;
  width: 90%;
}

p.two-cols {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
}

p.three-cols {
  -moz-column-count: inherit;
  -webkit-column-count: inherit;
  -moz-column-gap: 0;
  -webkit-column-gap: 0;
  column-count: inherit;
  column-gap: 0;
}

@media only screen and (min-width: 576px) {
  p.three-cols {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
  }
}

.prehispanica {
  color: rgb(242,94,13);
}

.colonial {
  color: rgb(213,0,0);
}

.independencia {
  color: rgba(0,182,237,1);
}

.republica {
  color: #778899;
}

.opens {
  color: rgba(173,20,87,.6);
}

img.wide {
  max-width: 100%;
  margin-bottom:0;
}

.full-width {
  width: 100vw;
  display:grid;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: 0;
}

.full-width figcaption {
  font-style: italic;
  font-size: 1rem;
  line-height: 16pt;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: .6rem;
  color: #444;
}

.overflow-hidden { overflow: hidden; }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}


.bg-eagle {
  background-image: url('//res.cloudinary.com/magnvs/image/upload/v1577232384/thgvowq90zwre0zbxgqd.jpg');
  background-color: rgba(0,0,0,.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.bg-mural {
  background-image: url('//res.cloudinary.com/magnvs/image/upload/v1577232353/ehpgpv8r69b5rscdc25r.jpg');
  background-color: rgba(0,0,0,.4);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 600px) {
  .full-width figcaption {
    width: 760px;
    margin:  0 auto;
  }
}

@media only screen and (min-width: 2000px) {
  .full-width{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 540px) {
  .article-post {
    font-size: 1rem;
    line-height: 18pt;
  }
}

@media only screen and (max-width: 400px) {
  .hidden {
    display:none;
  }
}
